@model MyCoffeeWebApp.ALCOHOL_COLLECTS_MONEY

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>ALCOHOL_COLLECTS_MONEY</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.ALCOHOL_COLLECTS_MONEY___QUANTITY)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ALCOHOL_COLLECTS_MONEY___QUANTITY)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ALCOHOL_COLLECTS_MONEY___PRICE)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ALCOHOL_COLLECTS_MONEY___PRICE)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DATE.note)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DATE.note)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TYPE_OF_WINE.TYPE_OF_WINE___NAME)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TYPE_OF_WINE.TYPE_OF_WINE___NAME)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ALCOHOL_COLLECTS_MONEY___ID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
