@model IEnumerable<MyCoffeeWebApp.TYPE_OF_WINE>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.TYPE_OF_WINE___NAME)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TYPE_OF_WINE___PRICE)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.TYPE_OF_WINE___NAME)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TYPE_OF_WINE___PRICE)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.TYPE_OF_WINE___ID }) |
            @Html.ActionLink("Details", "Details", new { id=item.TYPE_OF_WINE___ID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.TYPE_OF_WINE___ID })
        </td>
    </tr>
}

</table>
