@model MyCoffeeWebApp.ALCOHOL_SPENDING_MONEY

@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Edit</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()



    <div class="card mb-4">
        <h5 class="card-header">Sửa chi</h5>
        <div class="card-body">
            <hr />
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            @Html.HiddenFor(model => model.ALCOHOL_SPENDING_MONEY_ID)

            <div class="mb-3 row">
                @Html.LabelFor(model => model.DATE_ID, "Ngày", htmlAttributes: new { @class = "form-label col-md-2 col-form-label", @for = "exampleFormControlSelect1" })
                <div class="col-md-10">
                    @Html.DropDownList("DATE_ID", null, htmlAttributes: new { @class = "form-select", @id = "exampleFormControlSelect1", @aria_label = "Default select example" })
                    @Html.ValidationMessageFor(model => model.DATE_ID, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="mb-3 row">
                @Html.LabelFor(model => model.ALCOHOL_SPENDING_MONEY_CONTENT, htmlAttributes: new { @class = "col-md-2 col-form-label" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.ALCOHOL_SPENDING_MONEY_CONTENT, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.ALCOHOL_SPENDING_MONEY_CONTENT, "", new { @class = "text-danger" })
                </div>
            </div>


            <div class="mb-3 row">
                @Html.LabelFor(model => model.ALCOHOL_SPENDING_MONEY_QUANTITY, htmlAttributes: new { @class = "col-md-2 col-form-label" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.ALCOHOL_SPENDING_MONEY_QUANTITY, new { htmlAttributes = new { @class = "form-control", @type = "textarea" } })
                    @Html.ValidationMessageFor(model => model.ALCOHOL_SPENDING_MONEY_QUANTITY, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="mb-3 row">
                @Html.LabelFor(model => model.ALCOHOL_SPENDING_MONEY_NOTE, htmlAttributes: new { @class = "col-md-2 col-form-label" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.ALCOHOL_SPENDING_MONEY_NOTE, new { htmlAttributes = new { @class = "form-control", @type = "textarea" } })
                    @Html.ValidationMessageFor(model => model.ALCOHOL_SPENDING_MONEY_NOTE, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                <div class="d-flex justify-content-center mt-3">
                    <input type="submit" value="Save" class="btn btn-info" />
                </div>
            </div>
            <div class="d-flex justify-content-center mt-3">
                @Html.ActionLink("Back to List", "Index", null, new { @class = "btn btn-primary" })
            </div>
        </div>
    </div>





}

<script>
    var ulNgayVaGiaCa = document.getElementById("CacBangChi");
    ulNgayVaGiaCa.classList.add("d-block");
    var liNgay = document.getElementById("spendingOfWine");
    liNgay.classList.add("active");
  
    document.getElementById('searchInputBox').classList.add("d-none")

</script>