@model IEnumerable<MyCoffeeWebApp.ALCOHOL_SPENDING_MONEY>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.ALCOHOL_SPENDING_MONEY___CONTENT)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ALCOHOL_SPENDING_MONEY___QUANTITY)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ALCOHOL_SPENDING_MONEY___NOTE)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DATE.note)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.ALCOHOL_SPENDING_MONEY___CONTENT)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ALCOHOL_SPENDING_MONEY___QUANTITY)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ALCOHOL_SPENDING_MONEY___NOTE)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DATE.note)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.ALCOHOL_SPENDING_MONEY___ID }) |
            @Html.ActionLink("Details", "Details", new { id=item.ALCOHOL_SPENDING_MONEY___ID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.ALCOHOL_SPENDING_MONEY___ID })
        </td>
    </tr>
}

</table>
