@model MyCoffeeWebApp.COLLECT_MONEY

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>COLLECT_MONEY</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.CLMN_QUANLITY)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CLMN_QUANLITY)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CLMN_PRICE)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CLMN_PRICE)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CLMN_NOTE)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CLMN_NOTE)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DATE.date_name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DATE.date_name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MENU.MN_PRODUCTNAME)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MENU.MN_PRODUCTNAME)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.CLMN_ID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
