@model MyCoffeeWebApp.DATE

@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()


    <div class="card mb-4">
        <h5 class="card-header">Sửa ngày</h5>
        <div class="card-body">
                    @Html.HiddenFor(model => model.DATE1, new { htmlAttributes = new { @class = "form-control", @type = "date" } })
                    @Html.ValidationMessageFor(model => model.DATE1, "", new { @class = "text-danger" })
             


            <div class="mb-3 row">
                @Html.LabelFor(model => model.date_name, htmlAttributes: new { @class = "col-md-2 col-form-label" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.date_name, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.date_name, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="mb-3 row">
                @Html.LabelFor(model => model.note, htmlAttributes: new { @class = "col-md-2 col-form-label" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.note, new { htmlAttributes = new { @class = "form-control", @type = "textarea" } })
                    @Html.ValidationMessageFor(model => model.date_name, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                <div class="d-flex justify-content-center mt-3">
                    <input type="submit" value="Save" class="btn btn-info" />
                </div>
            </div>
            <div class="d-flex justify-content-center mt-3">
                @Html.ActionLink("Back to List", "Index", null, new { @class = "btn btn-primary" })
            </div>
        </div>
    </div>





}

<script>
    var ulNgayVaGiaCa = document.getElementById("NgayVaGiaCa");
    ulNgayVaGiaCa.classList.add("d-block");
    var liNgay = document.getElementById("Ngay");
    liNgay.classList.add("active");
</script>