@using PagedList
@using PagedList.Mvc
@model PagedList.IPagedList<MyCoffeeWebApp.DATE>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<style>
    /* Trang hiện tại */
    a.page-item.page-link:not([href]) {
        background-color: #4cff00 !important; /* Màu nền */
        color: #035afc !important; /* Màu chữ */
    }

        /* Hover trên trang hiện tại */
        .pagination .page-item.disabled:hover {
            background-color: #be1414; /* Màu nền */
            color: #e2bebe; /* Màu chữ */
        }
</style>



<div class="card">
    <h5>Các ngày ghi nhận</h5>
    <a href="@Url.Action("Create")">
        <i class='bx bx-plus-medical'></i> Thêm ngày
    </a>

    <div class="card-body">
        <div class="table-responsive text-nowrap">
            <table class="table table-bordered table-hover">
                <thead>
                    <tr>
                        <th>Ngày</th>
                        <th>Gợi nhớ</th>
                        <th>Ghi chú</th>
                        <th>Hành động</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>
                                <i class="fab fa-angular fa-lg text-danger me-3"></i> <strong>@Html.Raw(item.DATE_ID.Date.ToString("dd/MM/yyyy"))</strong>
                            </td>
                            <td>@Html.DisplayFor(modelItem => item.date_name)</td>
                            <td>@Html.DisplayFor(modelItem => item.note)</td>
                            <td width="13%">
                                <div>
                                    <a href="@Url.Action("Edit", "DATEs", new { id = item.DATE_ID.ToString("MM-dd-yyyy") })"><i class="bx bx-edit-alt me-1"></i> </a>
                                    <a href="@Url.Action("Delete", "DATEs", new { id = item.DATE_ID.ToString("MM-dd-yyyy") })"><i class="bx bx-trash me-1"></i> </a>
                                    <a href="@Url.Action("Details", "DATEs", new { id = item.DATE_ID.ToString("MM-dd-yyyy") })"><i class="bx bx-info-circle me-1"></i> </a>
                                </div>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>


    </div>
    @Html.PagedListPager(
     Model,
     page => Url.Action("Index", new { page, sortOrder = ViewBag.CurrentSort, currentFilter = ViewBag.CurrentFilter }),
     new PagedListRenderOptions
     {
         Display = PagedListDisplayMode.IfNeeded,
         MaximumPageNumbersToDisplay = 5, 
         UlElementClasses = new[] { "pagination", "justify-content-center" }, 
         LiElementClasses = new[] { "page-item", "m-1" }, 
         FunctionToTransformEachPageLink = (liTag, aTag) =>
         {
             aTag.AddCssClass("page-link"); 
             return aTag;
         }
     }
 )


</div>
<script>
    var ulNgayVaGiaCa = document.getElementById("NgayVaGiaCa");
    ulNgayVaGiaCa.classList.add("d-block");
    var liNgay = document.getElementById("Ngay");
    liNgay.classList.add("active");
    document.getElementById('searchString').placeholder = 'Tìm theo nội dung...';


</script>
